<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-copy">&copy; {{date format="YYYY"}} <a href="https://www.pitvietnam.com/" target="_blank">PiT Viet Nam</a></div>
        
    </div>
</footer>
